@import "~bootstrap/scss/bootstrap.scss";
@font-face {
    font-family: mygorduraFONT;
    src: url('../img/DancingScript-VariableFont_wght.ttf');
  }

.cards_Container {
    display: flex;
    width: 100%;
    padding: 5% 10%;
    align-items: center;
    justify-content:space-between;
    margin-top: 50px;
}

.card {
    border-radius: 2rem;
    margin: 8px;
    background-color: rgba(242, 212, 155, .15);  
    backdrop-filter: blur(5px);
} 

.card-title {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-body {
    text-align: center;
    background: transparent;
    
    color: black;
}

.card-body button {
    background-color: #BF6C06;
    color: #F2F2F2;
    border-color: #BF6C06 ;
}

.card-body button:hover {
    background-color: #BF6C06;
    box-shadow: 4px 5px burlywood;
    border-color: #BF6C06 ;
}
#app{
    background-image: url(https://images.pexels.com/photos/349609/pexels-photo-349609.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 50px;
}

h1{
    top: 40px;
    position: relative;
    display: flex;
    
    justify-content: center;
    font-size: 9.5vw;
    font-family: "mygorduraFONT";
    color: black;
    align-items: center;
}
.Carousel_images{
    top: 10px;
    position: relative;
    padding: 5% 10%;
    // border: black solid 1px;
    width: 100%;
    background: transparent;
    background-color: rgba(242, 212, 155, .15);  
    backdrop-filter: blur(5px);
}
.cornelita{

    width: 15%;
    height: 15%;
    margin-right: 15px;
}

a.navbar-brand{
    display: flex;
    font-size: 2.2vw;
    align-self: center;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    padding: 0;
    
    
}
.navbar-light .navbar-brand {
    color:#BF6C06;}
a.nav-link{
    font-size: 1.75vw;
}
.navbar-light .navbar-nav .nav-link {
    color:#BF6C06;
}
a.nav-link:hover{
    font-weight: bold;
}


#navbar {
    z-index: 1;
    margin-top: -30px;
    position: fixed;
    width: 100%;
    padding:1% 0;
    background-color: rgba(242, 212, 155, .15);  
    backdrop-filter: blur(5px)
}

.FooterBody{
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    align-items: center;
    width: 100%;
    height: 125px;
    background-color: rgba(242, 212, 155, .15);  
    backdrop-filter: blur(5px)
}
.FooterBodyColumn{
    width: 100%;
    height: 85%;
    margin: 0 10px;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
 }
 .FooterBody img{
     height: 35px;
     width: 35px;
     margin-right: 10px;
     color:red;
 }
 ul{
     display: inline-flex;
     margin: 0;
     padding: 0;
     text-align: center;
 }
li {
    margin: 0 15px;
    list-style: none;
}

a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #BF6C06;
}